{% extends 'base.html.twig' %}

{% block title %}Vous n'avez pas le droit d'accéder à cette ressource{% endblock %}

{% block body %}    
    <div>
       <h1>Vous n'avez pas le droit d'accéder à cette ressource !</h1>                            
        <p>Vous pouvez retourner à l'accueil !</p>
        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a> 
    </div>    
{% endblock %}